.ct-grid line {
    color: white;
}

.ct-labels span {
    color: white;
}

.ct-grids line {
    stroke: #323232;
}

.ct-series-b .ct-area-player {
    stroke: #ff9900;
}

.ct-series-a .ct-area {
    fill: #02C39A
}

.ct-series-b .ct-area {
    fill: #00A896
}

.ct-series-c .ct-area {
    fill: #028090
}

.ct-series-d .ct-area {
    fill: #119DA4
}

.ct-series-e .ct-area {
    fill: #74C428
}

.ct-series-f .ct-area {
    fill: #59922b
}

.ct-series-g .ct-area {
    fill: #A9E5BB
}

.ct-series-h .ct-area {
    fill: #7FC29B
}

.ct-series-i .ct-area {
    fill: #81F499
}

.ct-series-j .ct-area {
    fill: #56E39F
}

.ct-series-k .ct-area {
    fill: #8AE9C1
}

.ct-series-l .ct-area {
    fill: #17B890
}

.ct-series-m .ct-area {
    fill: #119822
}

.ct-series-n .ct-area{
    fill: #08605F
}

.ct-series-o .ct-area {
    fill: #06D6A0
}


.ct-area-player {
    stroke: none;
    fill-opacity: .1
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
    stroke: #00A896;
}

.ct-series-b .ct-line, .ct-series-b .ct-point {
    stroke: #ff9900;
}

.ct-series-a .ct-area-player {
    fill: #00000000;
    stroke: #00A896;
}

.ct-series-b .ct-area-player {
    fill: #ff9900;
}


.ct-area-idle {
    stroke: none;
    fill-opacity: .1
}

.ct-series-a .ct-area-idle {
    fill: #ff8b00
}

.ct-series-b .ct-area-idle {
    fill: #E2D58B
}

.ct-series-c .ct-area-idle {
    fill: #FFD92F
}

.ct-series-d .ct-area-idle {
    fill: #ECBA82
}

.ct-series-e .ct-area-idle {
    fill: #f4c63d
}

.ct-series-f .ct-area-idle {
    fill: #f4c63d
}

.ct-series-g .ct-area-idle {
    fill: #d17905
}

.ct-series-h .ct-area-idle {
    fill: #f05b4f
}

.ct-series-i .ct-area-idle {
    fill: #dda458
}

.ct-series-j .ct-area-idle {
    fill: #dda458
}

.ct-series-k .ct-area-idle {
    fill: #f05b4f
}

.ct-series-l .ct-area-idle {
    fill: #f05b4f
}