.ct-label {
    color: var(--sys-gray) !important;
}

.ct-grid {
    stroke: var(--sys-gray3) !important;
}

.ct-series-a .ct-bar {
    stroke-width: 12px;
    stroke-linecap: round;
    stroke: var(--sys-green) !important;
}

.ct-series-b .ct-bar {
    stroke-width: 12px;
    stroke-linecap: round;
    stroke: var(--sys-red) !important;
}