@font-face {
    font-family: "Arial Black";
    src: url("/font/arial-black.woff") format("woff"),
    url("/font/arial-black.woff2") format("woff2");
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

.thumbnailColor {
    background-color: rgb(19, 26, 38);
}

.thumbnail-area {
    background-color: rgb(19, 26, 38);
}

.button {
    background-color: #eeeeee;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.15), 0 13px 46px 0 rgba(0,0,0,0.09);
    background-color: #ffffff;
}

.container-text h2 {
    font-family: 'Arial Black', sans-serif;
    font-style: normal;
    font-size: 3rem;
}

.container-text h3 {
    font-family: 'Arial Black', sans-serif;
    font-style: normal;
    font-size: 2.4rem;
}

.container-text h4 {
    font-family: 'Arial Black', sans-serif;
    font-style: normal;
    font-size: 1.8rem;
}

.container-text h5 {
    font-family: 'Arial Black', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
}

.container-text p {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

.container-dashboard {
    background-color: #212937;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.1), 0 20px 60px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
}

.container-dashboard h1 {
    font-family: 'Arial Black', sans-serif;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: bolder;
    padding-left: 3px;
    padding-top: 10px;
}

.container-dashboard select {
    font-family: 'Arial Black', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    border-radius: 30px;
    background: #212937;
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3e%3cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 12px 12px;
}

.container-dashboard select:first-of-type {
    border-radius: 10px 0 0 10px;
    max-width: 137px
}

.container-dashboard select:last-of-type {
    border-radius: 0 10px 10px 0;
    max-width: 270px
}

.graph-selectors {
    display: flex;
}

.graph-center {
    margin-left: 0;
    padding-top: 20px;
}

.container-performance {
    background-color: #212937;
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.1), 0 20px 60px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.container-performance h5 {
    line-height: 22px;
}

.container-performance p {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.1rem;
    color: #8884a1;
}

.performanceServerUpTime {
    padding-top: 8px;
    font-weight: 500;
    line-height: 0;
}

.performanceServerUpTime span {
    font-weight: bold;
}

.performanceLineItem {
    background-color: currentColor;
    border-radius: 10px;
    width: 10px;
    height: 30px;
}

.dynInfoTitle {
    font-family: 'Arial' !important;
    font-style: normal !important;
    font-size: 1.2rem !important;
    line-height: 22px !important;
    font-weight: bolder !important;
    color: #a0acde !important;
}

.connection-list {
    mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 2%, rgba(19, 26, 38, 1) 13%);
    overflow-y: scroll;
    height: 135px
}

.connection-item {
    display: flex
}

.connection-item div {
    mask-image: linear-gradient(90deg, currentColor 30%,  rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, currentColor 30%,  rgba(255, 255, 255, 0) 100%);
    border-radius: 5px 0 0 5px;
    margin-right: 5px;
    height: 28px;
    width: 20px;
}

.container-player {
    background-color: #19202a;
    border-radius: 0 10px 10px 0;
}

.player-list {
    mask-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 2%, rgba(19, 26, 38, 1) 15%);
    height: 355px;
    overflow-y: scroll;
}

.player-item {
    display: flex;
    padding-top: 7px;
}

.player-item h2 {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.1rem;
    line-height: unset;
    font-weight: bolder;
}

.player-item p {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.0rem;
    color: #8884a1;
}

.player-item p span {
    font-size: 1.1rem;
    font-weight: bold;
    color: #8683a5;
}

.player-item img {
    height: 2em;
    width: 2rem;
    border-width: 0.19rem;
    border-style: solid;
    border-image-slice: 2;
    border-radius: 10px;
}

.player-online img {
    border-color: rgba(0,168,150,1);
}

.player-idle img {
    border-color: rgb(246, 156, 0);
}

.player-offline img {
    filter: grayscale(70%);
    border-color: #00000000;
}

.custom-link {
    cursor: cell;
    outline: none;
    color: currentColor;
}

@media only screen and (max-width: 700px) {
    .connectionIcon {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .container-player {
        border-radius: 0 0 10px 10px;
    }
    .graph-center {
        margin-left: -10px;
    }
}