@font-face {
    font-family: "Arial Black";
    src: url("/font/arial-black.woff") format("woff"),
    url("/font/arial-black.woff2") format("woff2");
}

body {
    overflow-x: hidden;
}

.thumbnailColor {
    background-color: rgb(25, 25, 31);
}

.thumbnail-area {
    background-color: rgba(25, 25, 31, 100);
}

.button {
    background-color: #eeeeee;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.15), 0 13px 46px 0 rgba(0,0,0,0.09);
    background-color: #ffffff;
}

.container-text h2 {
    font-family: 'Arial Black';
    font-style: normal;
    font-size: 3rem;
}

.container-text h3 {
    font-family: 'Arial Black';
    font-style: normal;
    font-size: 2.4rem;
}

.container-text p {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.5rem;
}

.container-module {
    background-color: #323249;
    border-radius: 10px;
}

.container-module h5 {
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bolder;
}

.custom-link {
    cursor: cell;
    outline: none;
    color: currentColor;
}