:root {
    --title-size-small: 2rem;
    --title-text-size-small: 1rem;
    --article-title-size: 1.25rem;
    --article-text-size: 0.75rem
}

@media only screen and (max-width: 600px) {
    .title-area h1 {
        font-size: var(--title-size-small);
    }

    .title-area p {
        font-size: var(--title-text-size-small);
    }

    .article-area h1 {
        font-size: var(--article-title-size);
    }

    .article-area p {
        font-size: var(--article-text-size);
    }
}

.title-area h1 {
    font-size: 2.25rem;
}
.title-area p {
    font-size: 1.25rem;
}

.article-area h1 {
    font-size: 1.5rem;
}
.article-area p {
    font-size: 1rem;
}

.custom-link {
    cursor: cell;
    outline: none;
    color: currentColor;
}

.card {
    transition: ease-in 1s;
}
.card:hover {
    border-color: var(--bs-dark);
    transition: ease-out 1s;
}
.card-subtitle {
    color: gray;
}