.title-area p {
    font-size: 1.5rem;
}

.title-area h1 {
    font-size: 4rem;
}

.title-area h1 span {
    color: rgb(35, 198, 198);
}

.article-area h1 {
    font-size: 4rem;
}

.article-area p {
    font-size: 2rem;
}


.article-area img {
    transition: 1.5s;
}

.article-mc-start {
    height: 8rem;
    background: linear-gradient(358deg, #212529 55%, #fff 45%);
}

.article-mc-end {
    height: 8rem;
    background: linear-gradient(358deg, #fff 55%, #212529 45%);
}

.green-check {
    color: #2dd53c;
    margin-right: 3px;
}

.orange-check {
    color: #ff7f50;
    margin-right: 2px;
}

.red-check {
    color: #e02900;
    margin-right: 2px;
}