:root {
    --title-size-small: 3rem;
    --title-text-size-small: 1.25rem;
}

.title-area p {
    font-size: 1.5rem;
}

.title-area h1 {
    font-size: 4rem;
}

.title-area h1 span {
    color: rgb(35, 198, 198);
}

.green-check {
    color: #2dd53c;
    margin-right: 3px;
}

.orange-check {
    color: #ff7f50;
    margin-right: 2px;
}

.red-check {
    color: #e02900;
    margin-right: 2px;
}

@media only screen and (max-width: 600px) {
    .title-area h1 {
        font-size: var(--title-size-small);
    }

    .title-area p {
        font-size: var(--title-text-size-small);
    }
}