::-webkit-scrollbar {
    display: none;
}

.schoolLogo img {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.selectedView {
    display: flex;
}
.selectedView a {
    font-weight: 600;
}
.selectedView span {
    font-weight: 400;
}
.selectedView span:hover {
    font-weight: 400;
    color: #0a58ca;
    cursor: pointer;
}

.timetable {
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
}
.timetable thead {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.news-list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 300px;
}
.news-item {
    min-width: 300px;
    max-height: 300px;
    padding-left: 20px;
}

.hidden {
    display: none;
}

.custom-link {
    cursor: cell;
    outline: none;
    text-decoration: none;
    font-weight: 500;
    color: var(--bs-dark);
}

.loading {
    /* contrast */
    background-color: #e1e1e1;
    /* shimmering */
    color: grey;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    100% {-webkit-mask-position:left}
}