::-webkit-scrollbar {
    display: none;
}


.schoolLogo img {
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.timetable {
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
}
.timetable thead {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.news-list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 300px;
}
.news-item {
    min-width: 300px;
    max-height: 300px;
    padding-left: 20px;
}

.custom-link {
    cursor: cell;
    outline: none;
    text-decoration: none;
    font-weight: 500;
    color: var(--bs-dark);
}
